ul,
ol {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
#board {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: #e4ddc3;
}
body {
  overflow: hidden;
}
.actions {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}
.actions svg {
  width: 1.5em;
  height: 1.5em;
  transition: all 0.3s;
  margin: 0 10px;
}
.actions svg.active {
  fill: red;
  transform: scale(1.2);
}
.colors {
  position: fixed;
  top: 60px;
  left: 28px;
}
.colors li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  margin: 10px 0;
  transition: all 0.3s;
}
.colors li.black {
  background: black;
}
.colors li.red {
  background: red;
}
.colors li.green {
  background: green;
}
.colors li.blue {
  background: blue;
}
.colors li.yellow {
  background: yellow;
}
.colors > li.active {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.95);
  transform: scale(1.2);
}
.sizes {
  position: fixed;
  right: 20px;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sizes li {
  margin: 10px 0;
  transition: all 0.3s;
}
.sizes li.thin {
  width: 20px;
  height: 0;
  border-top: 5px solid black;
}
.sizes li.thick {
  width: 20px;
  height: 0;
  border-top: 10px solid black;
}
.sizes li.active {
  box-shadow: 0px 0px 10px 10px rgb(221 221 221 / 75%);
}
