* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    font-size: 14px;
}
.header {
    width: 100%;
    height: 45px;
    /* background: #cccccc; */
}
.header .logo {
    float: left;
    margin-left: 20px;
    opacity: 0.5;
}
.header .logo:hover {
    opacity: 1;
}
.header .logo a {
    display: inline-block;
    width: 78px;
    height: 21px;
    background: url("../images/player_logo.png") no-repeat 0 0;
}
.header .register {
    line-height: 45px;
    list-style: none;
    float: right;
}
.header .register li {
    float: left;
    margin-right: 20px;
    color: white;
    opacity: 0.5;
    cursor: pointer;
}
.header .register li:hover {
    opacity: 1;
}
.content {
    width: 100%;
    height: 460px;
}
.content .content-in {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    /* background: #cccccc; */
}
.content-in .content-left {
    width: 800px;
    height: 100%;
    float: left;
}
.content-left .content-topbar {
    width: 100%;
    height: 40px;
}
.content-topbar span {
    display: inline-block;
    width: 122px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    opacity: 0.5;
}
.content-topbar span i {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../images/icon_sprite.png") no-repeat 0 0;
    margin-right: 10px;
    vertical-align: -5px;
}
.content-topbar span:hover {
    opacity: 1;
}
.content-topbar span:nth-child(1) i{
    background-position: -60px -20px;
}
.content-topbar span:nth-child(2) i{
    background-position: -20px -20px;
}
.content-topbar span:nth-child(3) i{
    background-position: -40px -240px;
}
.content-topbar span:nth-child(4) i{
    background-position: -100px -20px;
}
.content-topbar span:nth-child(5) i{
    background-position: -40px -300px;
}
.content-left .content-list {
    width: 100%;
    height: 420px;
    overflow: auto;
}
.content-list li {
    list-style: none;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    user-select: none;
}
.content-list li div {
    float: left;
    color: rgba(255, 255, 255, 0.5);
    line-height: 50px;
}
.content-list .list-check {
    width: 50px;
    height: 100%;
    text-align: center;
}
.content-list .list-check i {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #ffffff;
    opacity: 0.5;
}
.content-list .list-checked i {
    background: url("../images/icon_sprite.png") no-repeat -60px -80px;
    opacity: 1;
}
.content-list .list-number {
    width: 20px;
    height: 100%;
}
.content-list .list-number2 {
    color: transparent !important;
    background: url("../images/wave.gif") no-repeat 0 center;
}
.content-list .list-name {
    width: 50%;
    height: 100%;
}
.list-name .list-menu {
    margin-top: 5px;
    margin-right: 20px;
    float: right;
    display: none;
}
.list-menu a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url("../images/icon_list_menu.png") no-repeat 0 0;
    opacity: 0.5;
}
.list-menu a:hover {
    opacity: 1;
}
.list-menu a:nth-child(1){
    background-position: -120px 0;
}
.list-menu a:nth-child(2){
    background-position: -120px -80px;
}
.list-menu a:nth-child(3){
    background-position: -120px -120px;
}
.list-menu a:nth-child(4){
    background-position: -120px -40px;
}
.list-menu .list-menu-play2 {
    background-position: -80px -200px !important;
}
.content-list .list-singer {
    width: 20%;
    height: 100%;
}
.content-list .list-time a {
    width: 36px;
    height: 36px;
    background: url("../images/icon_list_menu.png") no-repeat -120px -160px;
    margin-top: 5px;
    float: left;
    display: none;
    opacity: 0.5;
}
.content-list .list-time a:hover {
    opacity: 1;
}
.content-in .content-right {
    width: 400px;
    height: 100%;
    float: left;
    user-select: none;
}
.content-right .song-info {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    line-height: 30px;
}
.song-info .song-info-pic {
    display: inline-block;
    background: url("../images/album_cover_player.png") no-repeat 0 0;
    width: 201px;
    height: 180px;
    text-align: left;
}
.song-info .song-info-pic img {
    width: 180px;
    height: 180px;
}
.song-info div a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.5;
}
.song-info div a:hover {
    opacity: 1;
}
.content-right .song-lyric-container {
    margin-top: 30px;
    height: 150px;
    overflow: hidden;
}
.content-right .song-lyric {
    text-align: center;
}
.content-right .song-lyric li {
    list-style: none;
    line-height: 30px;
    /* font-weight: bold; */
    color: rgba(255, 255, 255, 0.5);
}
.content-right .song-lyric .cur {
    color: #31c27c;
}
.footer {
    width: 100%;
    height: 80px;
    /* line-height: 80px; */
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer .footer-in {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    user-select: none;
    /* background: #cccccc; */
}
.footer-in a {
    display: inline-block;
    background: url("../images/player.png") no-repeat 0 0;
    text-decoration: none;
    margin-right: 20px;
    color: #ffffff;
    position: relative;
    top: 5px;
}
.footer-in .music-pre{
    width: 19px;
    height: 20px;
    background-position: 0 -30px;
}
.footer-in .music-play{
    width: 21px;
    height: 29px;
    background-position: 0 0;
    vertical-align: -5px;
}
.footer-in .music-play2 {
    background-position: -30px 0;
}
.footer-in .music-next{
    width: 19px;
    height: 20px;
    background-position: 0 -52px;
}
.footer-in .music-progress-info {
    display: inline-block;
    width: 670px;
    height: 40px;
    position: relative;
    /* top: 2px; */
}
.music-progress-info .music-progress-top {
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
}
.music-progress-top .music-progress-name {
    float: left;
    opacity: 0.5;
}
.music-progress-top .music-progress-name:hover {
    opacity: 1;
}
.music-progress-top .music-progress-time {
    float: right;
    opacity: 0.5;
}
.music-progress-info .music-progress-bar {
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
    position: relative;
}
.music-progress-bar .music-progress-line {
    width: 0;
    height: 100%;
    background: #ffffff;
}
.music-progress-line .music-progress-dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    left: 0;
    top: -5px;
}
.footer-in .music-mode{
    width: 26px;
    height: 25px;
    background-position: 0 -205px;
    margin-left: 20px;
}
.footer-in .music-mode2 {
    width: 23px;
    height: 20px;
    background-position: 0 -260px;
}
.footer-in .music-mode3 {
    width: 25px;
    height: 19px;
    background-position: 0 -74px;
}
.footer-in .music-mode4 {
    width: 26px;
    height: 25px;
    background-position: 0 -232px
}
.footer-in .music-fav {
    width: 24px;
    height: 21px;
    background-position: 0 -96px;
    margin-right: 10px;
}
.footer-in .music-fav2 {
    background-position: -30px -96px;
}
.footer-in .music-down{
    width: 22px;
    height: 21px;
    background-position: 0 -120px;
    margin-right: 10px;
}
.footer-in .music-comment{
    width: 24px;
    height: 24px;
    background-position: 0 -400px;
    margin-right: 10px;
}
.footer-in .music-only{
    width: 74px;
    height: 27px;
    background-position: 0 -281px;
    margin-right: 10px;
}
.footer-in .music-only2 {
    background-position: 0 -310px;
}
.footer-in .music-voice-info {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    /* background: darkcyan; */
    position: relative;
    top: 10px;
}
.music-voice-info .music-voice-icon{
    width: 26px;
    height: 21px;
    background-position: 0 -144px;
    position: absolute;
    left: 0;
    top: 10px;
}
.music-voice-info .music-voice-icon2 {
    background-position: 0 -182px;
}
.music-voice-info .music-voice-bar {
    width: 70px;
    height: 4px;
    background: rgba(255,255,255,0.5);
    position: absolute;
    right: 0;
    top: 18px;
}
.music-voice-bar .music-voice-line{
    width: 70px;
    height: 100%;
    background: #fff;
}
.music-voice-line .music-voice-dot{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    top: -5px;
    left: 70px;
}
.mask-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/lnj.jpg") no-repeat 0 0;
    background-size: cover;
    z-index: -2;
    filter: blur(100px);
}
.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    z-index: -1;
}
._mCS_1 .mCSB_scrollTools .mCSB_dragger_bar{
    width:8px;
}